body {
	background-color: #E8E8E8 !important;
}

#courseTable {
	margin: 0 auto;
	width: 80%;
	text-align: center;
	table-layout: fixed;
}

#courseDiv {
	width:80%;
	height:100%;
	margin: 0 auto;
	margin-top: 4em;
}

#pract {
	width: 40%;
	padding: 10px;
}

#concept {
	width: 20%;
	padding: 10px;
}

#accordion{
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}

