body {
	background-color: #E8E8E8 !important;
}

.navbar-nav {
	width: 100%;
	text-align: center;
}
.navbar-nav > li {
	float: none;
	display: inline-block;
}
.navbar-nav > li.navbar-right {
	float: right !important;
	margin-right: 70px;
}
.navbar-nav > li.navbar-left {
	float: left !important;
	margin-left: 70px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  margin-top: 5em;
}

td {
    padding-top: .5em;
    padding-bottom: .5em;
}

#title {
	width:600px;
}

#likeButton {
	padding-left: 10px;
	padding-right: 13px;
	width: 20px;
}

#likesSpace {
	padding-right: 4px;
}

.likeBtn {
	width:52px;
}

.archiveBtn {
	width:78px;
}

/* course */

#left {
	height: 500px;
	float:left;
	width: 70%;
	overflow: auto;
}
#right {
	float:right;
	width: 30%;
	overflow: auto;
	padding-bottom: 5em;
}
#questions {
	float:left;
	width: 80%;
	overflow: auto;
	margin-left: 5em;
}

#courseLike {
	padding-left: 170px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-top: 0px;
}

#report {
	line-height: 1px;
	margin-left: 5px;
	padding: 1px;
}

#reportText {
	font-size: 10px;
	margin-left: 155px;
	padding-left: 5px;
	cursor: pointer;
	color: blue;
}

.courseLikeBtn {
	width: 45px;
	padding: 0px;
	margin-right: 8px;
}

#courseAdd {
	font-size: 11px;
}
/* import data */
#importdiv {
	margin: 0 auto;
	width: 20%;
	margin-bottom: 60px;
}

.importupdate {
	float: right;
	display:inline;
}

#importprov {
	length: 20px;
}

/* concept */

#addlink {
	position:absolute;
	right: 0;
	padding-right: 120px;
}

#adddemo {
	position: absolute;
	left: 0;
	padding-left: 120px;
}

/* register */

#regDiv {
	padding-top: 50px;
}
