{% extends "layout.html" %}

{% block content %}

<html>

<head>
  <!-- Main stylesheet imports bootstrap css and adds custom -->
  <link href="../static/css/style.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="../static/js/subtopics.js"></script>
</head>

<style type="text/css">

#selectBoxSub {
  width: 160px;
}

#selectBox {
  width: 130px;
}

</style>

<body>
<br>
<br>
<br>
<div align='center'>

<select id="selectBox" onchange="changeFunc();">
 <option >Topic</option>
 <option value="mathematics">mathematics</option>
 <option value="computer science">computer science</option>
 <option value="interview questions">interview questions</option>
</select>

<select id="selectBoxSub" onchange="changeFuncSub();">
  <option>Sub Topic</option>
</select>

</div>

</body>

<script>

function changeFunc() {
  var selectBox = document.getElementById("selectBox");
  var selectedValue = selectBox.options[selectBox.selectedIndex].value;
  //clear concepts div
  $("#results").html('');
  $("#selectBoxSub").html('');

  //get sub topics
  $("#selectBoxSub").append("<option>Sub Topic</option>")
  //get code for sup topic dropdown
  $.each( subTopics[selectedValue], function (key, value) {
    $("#selectBoxSub").append("<option value='"+value+"'>"+value+"</option>")
  });

}

function changeFuncSub() {
  var selectBox = document.getElementById("selectBoxSub");
  var selectedValue = selectBox.options[selectBox.selectedIndex].value;
  window.open('course/'+selectedValue,'_self',false);
}

</script>

</html>

{% endblock %}