{% extends "layout.html" %}

{% block content %}

<div align='center'>
	<h3>{{course}}</h3>
</div>

<div id='left'>

	<div align='center'>
		<h5>why {{course}} / {{course}} in action  <a id ='courseAdd' href='/addwhy/{{course}}'>add link</a></h5>
		<button onclick='linkType("top")'>Top</button><button onclick='linkType("new")'>New</button>
	</div>

	<table id='whyTable'>

	<div id='links'>

	{% for link in linksWhy %}

	<tr>
		<td id="courseLike">{{ link['likes'] }}</td>
		{% if link['liked'] ==  False %}
		<td><input class="courseLikeBtn" type="button" value="like" name='{{ link["url"] }}' id='like{{ link["urlId"] }}' onclick="postLike(this)" /></td>

		{% else %}
		<td><input class="courseLikeBtn" type="button" value="unlike" name='{{ link["url"] }}' id='like{{ link["urlId"] }}' onclick="postLike(this)" /></td>
		{% endif %}
	  {% if link['tubeTime'] %}
	  <td id="title"><a href="http://{{ link['tubeTime'] }}" target="_blank">{{ link['title'] }}</a></td>
	  {% else %}
	  <td id="title"><a href="http://{{ link['url'] }}" target="_blank">{{ link['title'] }}</a></td>
	  {% endif %}
	</tr>
	<tr><td id='report'><p id='reportText' onclick='report("{{link["url"]}}")'>report</p></td></tr>

	{% endfor %}
	</div>
	</table>

</div>

<div id='right'>

	<h5>concepts:</h5>

	{% for concept in concepts %}

	<a id='conceptText' href="../concept/{{ concept }}">{{ concept }}</a> <br>

	{% endfor %}

</div>

<script type="text/javascript">

function postLike(likeUrl){
	//get url
	var urlId = likeUrl.id;
	var url = likeUrl.name;
	var course = "{{ course }}";

    //post url to /liked to add to user urlLikes
    $.post( "../liked", { url: url, course: course, type: "course" },function(resp) {
    	if (resp == "successful added") {
    		$("#"+urlId).val("unlike");
    	}
    	else {
    		$("#"+urlId).val("like");
    	}
    });
}

function report(url){
	var course = "{{ course }}";

	$.post("../back/report", {url:url, course:course, type:"course"}, function(resp) {
		if (resp == 'yup') {
			alert("thanks! we look into the relevance of this link");
		}
		else {
			alert("whoops, something went wrong")
		}
	})
}

function linkType(type) {

	if (type == 'top') {
		$("#whyTable tr").remove();
		$('#links').html('{% for link in linksWhy %} <tr> <td id="courseLike">{{ link["likes"] }}</td> {% if link["liked"] == False %} <td id="courseButton"><input class="courseLikeBtn" type="button" value="like" name="{{ link["url"] }}" id="like{{ link["urlId"] }}" onclick="postLike(this)" /></td> {% else %} <td id="courseButton"><input class="courseLikeBtn" type="button" value="unlike" name="{{ link["url"] }}" id="like{{ link["urlId"] }}" onclick="postLike(this)" /></td> {% endif %} {% if link["tubeTime"] %} <td id="title"><a href="http://{{ link["tubeTime"] }}" target="_blank">{{ link["title"] }}</a></td> {% else %} <td id="title"><a href="http://{{ link["url"] }}" target="_blank">{{ link["title"] }}</a></td> {% endif %} </tr> <tr><td id="report"><p id="reportText" onclick="report("{{link["url"]}}")">report</p></td></tr> {% endfor %}');
	}
	else if (type == 'new') {
		$("#whyTable tr").remove();
		$('#links').html('{% for link in linksWhyNew %} <tr> <td id="courseLike">{{ link["likes"] }}</td> {% if link["liked"] == False %} <td id="courseButton"><input class="courseLikeBtn" type="button" value="like" name="{{ link["url"] }}" id="like{{ link["urlId"] }}" onclick="postLike(this)" /></td> {% else %} <td id="courseButton"><input class="courseLikeBtn" type="button" value="unlike" name="{{ link["url"] }}" id="like{{ link["urlId"] }}" onclick="postLike(this)" /></td> {% endif %} {% if link["tubeTime"] %} <td id="title"><a href="http://{{ link["tubeTime"] }}" target="_blank">{{ link["title"] }}</a></td> {% else %} <td id="title"><a href="http://{{ link["url"] }}" target="_blank">{{ link["title"] }}</a></td> {% endif %} </tr> <tr><td id="report"><p id="reportText" onclick="report("{{link["url"]}}")">report</p></td></tr> {% endfor %}')
	}
}

</script>

{% endblock %}