<table id="courseTable">
   <tr>
      <th>Concept</th>
      <th id="pract">Explanations</th>
      <th id="pract">Practice</th>
   </tr>
   {% for concept in courses["programming languages"] %}
   <tr>
      <td id="concept">{{ concept["concept"] }}</td>
      <td id="pract">
         <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{concept["explanations"]|length}} <span class="caret"></span></button>
            <ul class="dropdown-menu">
               {% for link in concept["explanations"] %}
               <li><a href="http://{{ link["url"] }}" target="_blank">{{ link["title"] }}</a></li>
               {% endfor %}
            </ul>
         </div>
      </td>
      <td id="pract">
         <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{concept["practice"]|length+concept["demos"]|length}} <span class="caret"></span></button>
            <ul class="dropdown-menu">
               {% for link in concept["practice"] %}
               <li>{% if 'url' in link.keys() %}<a href="http://{{ link["url"] }}" target="_blank">{{ link["title"] }}</a>{% else %}{{link["title"]}}{% endif %}</li>
               {% endfor %}
               {% for link in concept["demos"] %}
               <li><a href="http://{{ link["url"] }}" target="_blank">{{ link["title"] }}</a></li>
               {% endfor %}
            </ul>
         </div>
      </td>
   </tr>
   {% endfor %}
</table>